body {
  background-color: darkslateblue;
  color: white;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  width: 90%;
}

a:link {
  color: red;
}
a:visited {
  color: white;
}
a:hover {
  color: aqua;
}

#edit {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 1em;
  font-size: 1em;
  tab-size: 4;

  padding: 0.5em;
  width: 90%;
  height: 1000px;
  line-height: 1.2;
}

textarea {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 1em;  
}

input {
  background-color: black;
  color: white;
  border: 1px solid white;
  height: 20px;

  border-radius: 1em;  
}

button {
  background-color: black;
  color: white;
  border: 1px solid white;

  width: 30%;
  height: 60px;
  border-radius: 1em;
}
