body {
  background-color: rgb(75 75 120);  
  color: white;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

#edit {
  background-color: rgb(255 255 255);
  color: black;
  border: 2px solid #0a0;
  border-radius: 0.67em;
  padding: 0.5em;
  width: 400px;
  height: 300px;
  line-height: 1.2;
}
