body {
  background-color: darkslateblue;
  color: white;
  font-family: "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  width: 100%;
  margin: 0 auto;
}

#edit {
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 1em;
  font-size: 1em;

  padding: 0.5em;
  width: 90%;
  height: 1000px;
  line-height: 1.2;
}

input {
  background-color: black;
  color: white;
  border: 1px solid white;
  height: 20px;

  border-radius: 1em;  
}

button {
  background-color: black;
  color: white;
  border: 1px solid white;

  width: 30%;
  height: 60px;
  border-radius: 1em;
}

/*
#content {
  height: 80%
}

#menu {
  height: 20%
}
*/
